* {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.custom-tooltip {
	width: max-content;
	--margin: 6px;
	position: relative;
	.custom-tooltip-label {
		background-color: #252525;
		width: max-content;
		max-width: 200px;
		color: #f8f8f8;
		padding: 10px;
		border-radius: 3px;
		position: absolute;
		transition: 0.2s;
		z-index: 2;
	}
	&, &[data-position="bottom"], &[data-position="top"] {
		.custom-tooltip-label {
			left: 0;
			right: unset;
		}
	}
	&[data-position="left"], &[data-position="right"] {
		.custom-tooltip-label {
			top: 50%;
			translate: 0 -50%;
			bottom: unset;
		}
	}
	&, &[data-position="bottom"] {
		.custom-tooltip-label {
			top: calc(100% + var(--margin));
			bottom: unset;
		}
	}
	&[data-position="top"] .custom-tooltip-label {
		top: unset;
		bottom: calc(100% + var(--margin));
	}
	&[data-position="left"] .custom-tooltip-label {
		right: calc(100% + var(--margin));
		left: unset;
	}
	&[data-position="right"] .custom-tooltip-label {
		right: unset;
		left: calc(100% + var(--margin));
	}
	.custom-tooltip-anchor:not(:hover) ~ .custom-tooltip-label {
		visibility: hidden;
		opacity: 0;
	}
}

.paragraph {
	margin: 0;
}

main {
	margin-top: 30vh;
	margin-left: 30vw;
	display: flex;
	flex-direction: column;
	gap: 10px;
}