.tooltip {
	width: max-content;
	--margin: 6px;
	position: relative;
	.tooltip-label {
		background-color: #252525;
		width: max-content;
		max-width: 200px;
		color: #f8f8f8;
		padding: 10px;
		border-radius: 3px;
		position: absolute;
		transition: 0.2s;
		z-index: 2;
	}
	&, &[data-position="bottom"], &[data-position="top"] {
		.tooltip-label {
			left: 0;
			right: unset;
		}
	}
	&[data-position="left"], &[data-position="right"] {
		.tooltip-label {
			top: 50%;
			translate: 0 -50%;
			bottom: unset;
		}
	}
	&, &[data-position="bottom"] {
		.tooltip-label {
			top: calc(100% + var(--margin));
			bottom: unset;
		}
	}
	&[data-position="top"] .tooltip-label {
		top: unset;
		bottom: calc(100% + var(--margin));
	}
	&[data-position="left"] .tooltip-label {
		right: calc(100% + var(--margin));
		left: unset;
	}
	&[data-position="right"] .tooltip-label {
		right: unset;
		left: calc(100% + var(--margin));
	}
	.tooltip-anchor:not(:hover) ~ .tooltip-label {
		visibility: hidden;
		opacity: 0;
	}
}

main {
	margin-top: 20vh;
	margin-left: 25vw;
	display: flex;
	flex-direction: column;
	gap: 10px;
}